body {
    background-image: url("../images/TheaterMasks.jpg");
}
.game {
    background-color: black;
    margin: 30px;
    padding-bottom: 20px;
}
#start {
    color:#ec7950;
    font-family: 'Pompiere', cursive;
    text-align: center;
    display: block;
    font-size: 35px; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}
#interactive {
    padding: 25px;
    display: none;
}
h1 {
    font-family: 'Luckiest Guy', cursive;
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    display: block;
    padding-top: 25px;
    margin: 0;
}
h3 {
    font-family: 'Bubblegum Sans', cursive;
    color:#af4021;
    text-align: center;
    display: block;
    font-size: 30px;
    margin-top: 0px;
}
h4 {
    font-family: 'Pompiere', cursive;
    color: #ec7950;
    text-align: center;
    display: block;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 0;
}
form {
    font-family: 'Pompiere', cursive;
    color: white;
    text-align: center;
    display: block;
    font-size: 25px;
    margin-bottom: 35px;
}
#score {
    display: none;
}